.Search {
  width: 100vw;
  height: 75vh;
  max-height: 75vh;
  margin: 0 auto;
  padding: 4em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: purple;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

form {
  display: flex;
  width: 60%;
  margin-top: 2em;
}

select {
  background: lavender;
  padding: 15px;
  width: 25%;
  text-align: center;
  border: lightgray;
  border-radius: 2px;
}

input {
  border: solid 1px lightgray;
  padding: 15px;
  width: 70%;
}

button {
  background-color: darkgray;
  color: white;
  text-align: center;
  width: 20%;
  text-transform: uppercase;
}

.Search.collapse {
  top: 0;
  position: absolute;
  align-items: end;
  max-height: 50px;
  height: 100%;
  transition: max-height .2s;
  padding: 0 5% 0 0;
  background-color: lavender;
}

.Search.collapse > h1,
.Search.collapse > p {
  display: none;
}

.Search.collapse > form {
  width: 70vw;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}
