.Container {
  max-width: 100%;
  background-color: #eff0f2;
}

.Spinner {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

